@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  /* Slate-900 */
}

/* Force light theme even if system prefers dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-progress-indeterminate {
    animation: progress-indeterminate 1.5s infinite linear;
    transform-origin: 0% 50%;
  }
}

@keyframes progress-indeterminate {
  0% {
    transform: translateX(0) scaleX(0);
  }

  40% {
    transform: translateX(0) scaleX(0.4);
  }

  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}